* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  .container {
    padding: 0 1rem;
  }
  
  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #666;
  }

  .subbtn {
    display: inline-block;
    border: 5px;
    background: #48585e;
    color: #fff;
    cursor: pointer;

    width: 100px;
  }

  .subbtn:hover {
    background: #7e99a3;
  }